@import url(http://fonts.googleapis.com/css?family=Audiowide:400,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  font-family: "Audiowide", Arial, Helvetica, sans-serif;
  padding: 80px; /* some padding */
  text-align: center; /* center the text */
  background: #86c232; /* green background */
  color: #f5f5f5; /* white text color */
}

/* Increase the font size of the <h1> element */
h1 {
  font-size: 40px;
  text-decoration: none;
  background-image: linear-gradient(#474b4f, #222629),
  linear-gradient(#75c407, #86c232),
  linear-gradient(#474b4f, #222629);
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 1s linear, background-position 1s linear;
  cursor: pointer;
}

h1:hover {
  color: #222629;
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

h1 a {
  color: #f2f2f2;
}

h1 a:hover {
  color: #222629;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #222629; /* Dark background color*/
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: #61892f; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

.navbar a.right:hover {
  background-color: #6b6e70;
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #f1f1f1; /* Grey background color */
  color: #222629; /* Black text color */
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  border-radius: 50%;
  box-shadow: -5px 5px 0 #61892f;
}

.navbar a:active {
  box-shadow: none;
  top: 5px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(1deg); }
  10% { transform: translate(-1px, -2px) rotate(-2deg); }
  20% { transform: translate(-3px, 0px) rotate(0deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-3deg); }
  60% { transform: translate(-3px, 1px) rotate(-1deg); }
  70% { transform: translate(3px, 1px) rotate(-2deg); }
  80% { transform: translate(-1px, -1px) rotate(0deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -3px) rotate(-1deg); }
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 33%; /* Set the width of the sidebar */
  background-color: #f1f1f1; /* Grey background color */
  padding: 20px; /* Some padding */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.side h2 {
  text-align: center;
}


#tony {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:  200px;
  height: 150px;
  object-fit: contain;
}

#video {
  display: flex;
  align-items: center;
}

#blanca {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:  600px;
  height: 300px;
  object-fit: contain;
}

/* Main column */
.main {
  text-align: center;
  flex: 67%; /* Set the width of the main content */
  background-color: #6b6e70; /* White background color */
  height: 100vh;
  width: 100%;
  padding: 20px; /* Some padding */
  overflow-x: hidden;
  overflow-y: auto;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }

  .row {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .navbar a {
    float: none;
    width: 100%;
  }

  .navbar a.right:hover {
    background-color: #f1f1f1;
  }

}

abbr {
  color: #61892f;
  font-weight: 600; 
  text-decoration: none;
  background-image: linear-gradient(#474b4f, #222629),
  linear-gradient(#75c407, #61892f),
  linear-gradient(#8ff500, #61892f);
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.75s linear, background-position 0.75s linear;
  cursor: pointer;
}

abbr:hover {
  color: #a4a71e;
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

.row a {
  color: #61892f;
  font-weight: 600; 
  text-decoration: none;
  background-image: linear-gradient(#474b4f, #222629),
  linear-gradient(#75c407, #61892f),
  linear-gradient(#8ff500, #61892f);
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.75s linear, background-position 0.75s linear;
  cursor: pointer;
}

.row a:hover {
  color: #a4a71e;
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

.img {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.footer {
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  background: #474b4f; /* Grey background */
  position: relative;
  bottom: 0;
  min-width: 100%;
}

.footer a{
  color: #222629;
  font-size: x-large;
  text-decoration: none;
  background-image: linear-gradient(#474b4f, #222629),
  linear-gradient(#75c407, #61892f),
  linear-gradient(#8ff500, #61892f);
  background-size: 0px 2px, 100% 0px, 0 2px;
  background-position: calc(20px * -1) 0%, 100% 0%, 0 0%;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-top: .14em;
}

.footer a:hover {
  background-size: 0px 2px, 0 0px, 100% 2px;
  background-position: calc(10% + 20px) 0%, 100% 0%, 0 0%;
  transition: .5s ease-in-out;
}

#wrapper a {
  transition: font-size 0.5s ease-in-out, background-size 0.5s linear, background-position 0.5s linear;
}

#wrapper a:hover {
  font-size: 2.69em;
}

#gmail .fa-google {
  transition: transform .75s ease-in-out;
  transition-delay: 0.25s;
}

#gmail .fa-google:hover {
  transform: rotate(360deg);
  background: 
    linear-gradient(to bottom left,transparent 49%,#fbbc05 50%) 0 25%/48% 40%,
    linear-gradient(to top left,transparent 49%,#fbbc05 50%) 0 75%/48% 40%,
    linear-gradient(-40deg ,transparent 53%,#ea4335 54%),
    linear-gradient( 45deg ,transparent 46%,#4285f4 48%),
    #34a853;
  background-repeat:no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

#linkedin .fa-linkedin {
  transition: transform .75s ease-in-out;
  transition-delay: .25s;
}

#linkedin .fa-linkedin:hover {
  transform: rotate(360deg);
  color: #0072b1 !important;
}

#github {
  transition: transform .75s ease-in-out;
  transition-delay: .25s;
}

#github:hover {
  transform: rotate(360deg);
  color: #f5f5f5 !important;
}

#facebook .fa-facebook-official {
  transition: transform .75s ease-in-out;
  transition-delay: .25s;
}

#facebook .fa-facebook-official:hover {
  transform: rotate(360deg);
  color: #3b5998 !important;
}

#reddit .fa-reddit {
  transition: transform .75s ease-in-out;
  transition-delay: .25s;
}

#reddit .fa-reddit:hover {
  transform: rotate(360deg);
  color: #ff4500 !important;
}

#twitter .fa-twitter {
  transition: transform .75s ease-in-out;
  transition-delay: .25s;
}

#twitter .fa-twitter:hover {
  transform: rotate(360deg);
  color: #00acee !important;
}

#soundcloud {
  transition: transform .75s ease-in-out;
  transition-delay: .25s;
}

#soundcloud:hover {
  transform: rotate(360deg);
  color: #ff7700;
}

.footer .coffee{
  color: #222629;
  text-decoration: none;
  font-variant: small-caps;
  font-size: large;
  background-image: linear-gradient(#8ff500, #61892f),
  linear-gradient(#474b4f, #222629),
  linear-gradient(#474b4f, #222629);
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 0%, 100% 0%, 0 0%;
  background-repeat: no-repeat;
  transition: background-size .65s linear, background-position .65s linear;
  cursor: default;
}

.footer .coffee:hover{
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 0%, 100% 0%, 0 0%;
}

.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(#a7ff2c, #8ff500, #8fda27, #7dbe21, #75b122, #61892f, #42611d, #222629, #141516, #080808, #61892f);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.65s ease-in-out 0s;
}

.footer:hover::before {
  visibility: visible;
  transform: scaleX(1);
}